.header__me {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #18aac3;
    font-size: 40px;
    line-height: 28px;
    margin-right: 195px;
}

@media screen and (max-width: 768px) {
    .header__me {
        margin-right: 0;
    }
}