.footer__text {
    display: flex;
    flex-direction: row;
    margin: 10px auto 10px;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .footer__text {
        flex-direction: column;
        width: 100%;
        margin: 0 auto 0;
    }
}