.footer__line {
    height: 2px;
    width: 90%;
    background-color: #767676;
    opacity: 0.8;
    margin: 0 auto;
}

@media screen and (max-width: 568px) {
    .footer__line {
        width: 100%;
    }
}