.header__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px auto 25px;
}

/*@media screen and (max-width: 1024px) {
    .header__top {
        
    }
}*/

@media screen and (max-width: 568px) {
    .header__top {
        flex-direction: column;
    }
}