.header__top {
    display: flex;
    flex-direction: row;
    max-height: 150px;
    align-items: center;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .header__top {
        flex-direction: column;
    }
}