.header__player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .header__player {
        margin-top: 20px;
        align-items: center;
    }
}